

.dropdowns{
    min-width: 50px;
    min-height: 30px;
    text-align: center;
    vertical-align: center;
    margin-top: 60px;
    display: block;
}

div #text{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    display: block;
    justify-content: center;
    margin-right: 10px;
    margin-top: 30px;
}

#add{
    text-align:center;
    margin-top: 60px;
    min-width:50%;
    display: block;

}

#question1{
    margin-top: 20px;
}
#question2{
    margin-top: 20px;
}
#question3{
    margin-top: 20px;
}
#question4{
    margin-top: 20px;
}

#class-title{
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}

#remove{
    text-align:center;
    margin-top: 60px;
    min-width:50%;
    display: block;
}
.btn-group {min-width: 70%;}

#final-success{
    text-align:center;
    margin-top: 60px;
    min-width:50%;
    display: block;
}

#main-title{
    margin: 25px;
}




